.home-page {
    margin-top: 5rem;
    .hero {
        background: url(~@/assets/imgs/hero-temp.jpg) no-repeat center center fixed;
        background-size: cover;
        height: calc(90vh - 5rem);
    }
    .text-container {
        font-family: 'Nunito Sans', sans-serif;
        // font-family: 'Russo One', sans-serif;
        padding-block-start: 4rem;
    }
    .tc-header {
        text-shadow: 1px -1px 5px #000000;
        color: #ffffff;
        font-size: 3.5rem;
        width: 60rem;
        text-align: center;
        cursor: default;
        line-height: 5rem;
    }
    .start-btn {
        font-family: 'Nunito Sans', sans-serif;
        border-radius: 1000px;
        padding: 1.05rem 2.5rem;
        margin: 2.75rem;
        font-size: 1.5rem;
        background-color: $clr1;
        color: white;
        text-shadow: 1px 1px 2px black;
        transition: .3s;
        &:hover {
            box-shadow: 2px 2px 6px rgb(134, 134, 134);
            background-color: darken(#0e93c3, 5);
        }
    }
}