.templates-page {
    margin-block-start: 5rem;
    height: calc(100vh - 5rem);
    background-color: lighten($clr1, 50);
    h1 {
        padding: 10px 24px;
        text-align: center;
    }
    .template-list {
        padding: 20px 0;
        display: grid;
        grid-template-columns: repeat(10, minmax(250px, 1fr));
        justify-items: center;
        img {
            height: 350px;
            cursor: pointer;
        }
    }
}