.element-edit {
    font-family: 'Advent Pro';
    font-size: 1.25rem;
    padding: 0 2rem;
    >* {
        margin-block-end: .5rem;
    }
    input {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #bbb;
        padding: 0.75rem;
    }
    .el-slider {
        width: 65%;
    }
    .el-color-dropdown {
        input {
            display: none;
        }
        button {
            display: none;
            height: 0;
        }
    }
}