.elements-container {
    width: 20rem;
    min-height: calc(100vh - 5rem);
    transition: .8s;
    background-color: rgb(241, 241, 241);
    &.minimized {
        transform: translateX(-100%);
    }
    .elements-header {
        height: 5rem;
        >* {
            font-size: 1.75rem;
            font-family: 'Advent Pro', sans-serif;
            flex: 1;
        }
    }
    .element-picker {
        padding: 1rem;
        height: 100%;
        position: relative;
        border-right: 1px solid black;
        box-shadow: 2px 0px 7px black;
        transition: .8s;
        &.minimized {
            // transform: translateX(-100%);
        }
        >*:not(:first-child) {
            font-family: 'Advent Pro', sans-serif;
            width: 5rem;
            height: 5rem;
            margin: .4rem;
            font-size: 1.5rem;
            box-shadow: 1px 1px 4px #bbb;
            background-color: $clr1;
            color: #202204;
            transition: .3s;
            &:hover {
                background-color: darken($clr1, 5);
                box-shadow: 2px 2px 6px rgb(134, 134, 134);
            }
        }
        .element-list {
            height: 100%;
            >* {
                font-family: 'Advent Pro', sans-serif;
                cursor: pointer;
                &:hover {
                    color: rgb(90, 90, 90);
                }
            }
        }
        .minimize {
            position: absolute;
            right: -2rem;
            font-weight: bold;
            top: calc(50vh - 5rem);
            background-color: rgb(26, 26, 48);
            color: $clr1;
            font-size: 1rem;
            width: 1.35rem;
            height: 3rem;
            z-index: 1;
            &:hover {
                background-color: rgb(26, 26, 48);
            }
            & span::after {
                content: "<";
            }
            &.minimized {
                span::after {
                    content: ">";
                }
            }
        }
    }
}