.element-controls {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #f8f8f8;
    padding: 0.15rem;
    width: 9rem;
    border-left: 2px #717171 dashed;
    border-bottom: 2px #717171 dashed;
    >* {
        font-size: .75rem;
        width: 20%;
        background-color: inherit;
        color: #777;
        transition: .3s;
        border-radius: 50%;
        &:hover {
            color: #202204;
            background-color: rgb(235, 235, 235);
        }
    }
}