.nav-bar {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
    font-family: 'Advent Pro', sans-serif;
    padding: 0 1.5rem;
    background-color: rgb(36, 37, 49);
    color: white;
    height: 5rem;
    font-size: 1.5rem;
    .logo {
        color: $clr1;
        cursor: default;
    }
    .main-nav {
        height: 100%;
        >* {
            color: white;
            text-transform: uppercase;
            height: 100%;
            padding: 0 1rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
        >*.router-link-exact-active {
            color: $clr1;
            font-weight: bold;
            box-shadow: inset 0 -6px $clr1;
        }
    }
}