.nav-bar {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    padding: 0 1.5rem;
    border-bottom: 2px solid $clr1;
    background-color: rgb(255, 255, 255);
    color: white;
    height: 5rem;
    font-size: 1.5rem;
    .logo {
        color: $clr1;
        cursor: default;
        font-family: 'Electrolize', sans-serif;
    }
    .main-nav {
        height: 100%;
        >* {
            color: rgb(0, 0, 0);
            text-transform: capitalize;
            height: 100%;
            padding: 0 1rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
        >*.router-link-exact-active {
            color: $clr1;
        }
    }
}