.sample-section {
    h3 {
        @include badge($clr1);
        text-transform: uppercase;
        padding: .5rem 1rem;
        margin: .5rem;
    }
    .section-sample-img {
        max-width: 15rem;
        cursor: grab;
    }
}