.site-container {
    margin: 0;
    padding: 0;
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
    overflow-x: hidden;
    @include niceScrollBar(.75rem, lighten($clr3, 35%))
}

.site-workspace {
    width: calc(100vw - 20rem);
    margin-inline-start: 20rem;
    padding: 1.5rem;
    outline: none;
    transition: .8s;
    background-color: $siteBgc;
    &.minimized {
        width: 100vw;
        margin-inline-start: 0;
    }
    .site-section {
        position: relative;
    }
}

.drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 15px 80px 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
    font-family: Righteous;
    color: rgba(128, 128, 128, 0.397);
    &::after {
        content: "Place Section Here";
        font-size: 5rem;
    }
}