.site-workspace {
    width: calc(100vw - 20rem);
    margin-inline-start: 20rem;
    padding: 2rem;
    outline: none;
    transition: .8s;
    &.minimized {
        width: 100vw;
        margin-inline-start: 0;
    }
    .site-section {
        position: relative;
    }
}

.drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 80px 5px 5px;
    width: fit-content;
    
}