* {
    .workspace {
        outline: none;
    }
    .site-section {
        position: relative;
        // * {
        //     position: absolute;
        // }
    }
    .site-nav{
        position: relative;
    }
}