    .site-section {
    transition: width .8s, outline 0s, transform .7s;
    background-size: cover !important;
    &:hover {
        outline: 2px #717171 dashed;
        cursor: grab;
        transition: width .8s, outline 0s, transform .7s;
        background-size: cover !important;
        &:hover {
            outline: 2px #717171 dashed;
            z-index: 1;
            cursor: grab;
        }
        &:active {
            cursor: grabbing;
        }
        .drag-btn {
            position: absolute;
            border-radius: 0;
            z-index: 5;
            top: 0;
            left: 0;
            cursor: grab;
            &:active {
                cursor: grabbing;
            }
            &:hover {
                outline: none;
                >* {
                    outline: none;
                }
            }
        }
    }
    
    .section-drag {
        transform: scale(0.7);
        border: 3px dashed $clr1;
        opacity: 0.9;
        border: none;
        box-shadow: 2px 2px 10px black;
        cursor: grabbing;
    }
}


//SITE DIV
.isDraggable{
    cursor: move;
    padding: 5px;
    &:before{
    content: "DRAG ME";
    display: flex;
    justify-content: center;
}
}

.site-section-container{
    z-index: 3;
}

.input-container{
    display: flex;
    flex-direction: column;
}

.section-drag {
    transform: scale(0.7);
    border: 3px dashed $clr1;
    opacity: 0.9;
    border: none;
    box-shadow: 2px 2px 10px black;
    cursor: grabbing;
}

.sample-drag {
    transform: scale(2) rotate(2.5deg);
    box-shadow: 2px 2px 6px black;
    cursor: grabbing;
    h3 {
        display: none;
    
    .sample-drag {
        transform: scale(2) rotate(2.5deg);
        box-shadow: 2px 2px 6px black;
        cursor: grabbing;
        h3 {
            display: none;
        }
    }
}
}
    .drop-preview-section {
        background-color: rgba(150, 150, 200, 0.1);
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        &::after {
            content: "Place Content Here";
            font-size: 3rem;
            color: rgba(128, 128, 128, 0.397);
        }
    }
    
    .site-txt{
        word-break: break-word;
    }
    
    @keyframes nadavdav {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.85;
        }
        100% {
            opacity: 1;
        }
    }
    

    @media (max-width: 780px) {
        .text-logo-text-section {
            flex-direction: column !important;
        }
        .three-pics-section {
            flex-direction: column;
            height: 50vw !important;
        }
        .post-card-section {
            height: auto !important;
            >div:not(.element-controls) {
                flex-direction: column !important;
                >div {
                    height: 50vw !important;
                }
            }
        }
        .info-block-section {
            * {
                font-size: 0.7rem !important;
            }
        }
        .text-on-photo {
            height: auto;
            * {
                font-size: 0.8rem !important;
            }
            div {
                align-items: 'center' !important;
            }
        }
    }
    