    .site-section {
    transition: width .8s, outline 0s, transform .7s;
    background-size: cover !important;
    &:hover {
        outline: 2px #717171 dashed;
        cursor: grab;
    }
    &:active {
        cursor: grabbing;
        animation: nadavdav 2s infinite;
    }
}

.site-section-container{
    z-index: 3;
}

.input-container{
    display: flex;
    flex-direction: column;
}

.section-drag {
    transform: scale(0.7);
    border: 3px dashed $clr1;
    opacity: 0.9;
    border: none;
    box-shadow: 2px 2px 10px black;
    cursor: grabbing;
}

.sample-drag {
    transform: scale(2) rotate(2.5deg);
    box-shadow: 2px 2px 6px black;
    cursor: grabbing;
    h3 {
        display: none;
    }
}
    .drop-preview-section {
        background-color: rgba(150, 150, 200, 0.1);
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        &::after {
            content: "Place Content Here";
            font-size: 3rem;
            color: rgba(128, 128, 128, 0.397);
        }
    }
    .site-div {
        // height: 100%;
        // z-index: 1;
    }
    // .site-workspace *:hover {
    //     outline: 3px solid $clr1;
    //     // padding: 1rem;
    //     // animation: idovsky 1.5s infinite;
    // }
    @keyframes nadavdav {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.85;
        }
        100% {
            opacity: 1;
        }
    }
    
.site-txt{
    word-break: break-word;
}